html{
  width: 100%;
  height:100%;
  user-select: none;
}
body{
  width: 100%;
  height: 100%;
  margin: 0px;
  background-color: #282c34;
  overflow: hidden;
  font-family: "HelveticaNeueCyr",Helvetica,sans-serif;
   font-weight: 400;
}

.layout{
  width: 100%;
  height: 100%;
  background-color: #282c34;
}

.layout-row{
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: #282c34;
}

.layout-section{
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: #21252b;
}

.context{
  position: relative;
  width: 100%;
  height: 100%;
  min-width: 128px;
  min-height: 128px
}

/* .context:hover{
  background-color: #21252b;
} */

.layout-row-gutter{
  position: absolute;
  height: 1px;
  cursor: row-resize;
  background-color: #181a1f;
  z-index: 900;
}

.layout-section-gutter{
  position: absolute;
  width: 1px;
  cursor: col-resize;
  background-color: #181a1f;
  z-index: 900;
}

.tab-bar{
  position: absolute;
  width: 100%;
  height: 24px;
  background-color: #21252b;
  border-bottom: 0.5px solid #181a1f;
  box-sizing: border-box;
  overflow: hidden;
}

.tab{
  position: absolute;
  float: left;
  width: auto;
  /* min-width: 96px;
  min-height: 24px; */
  max-width: 512px;
  height: 24px;
  background-color: #21252b;
  border-right: 0.5px solid #181a1f;
  box-sizing: border-box;
  overflow: hidden;
  text-overflow: ellipsis;
  padding: 0 2.4em;
  line-height: 2.2em;
  font-size: 11px;
  color: rgba(193, 193, 193, 0.6);
  white-space: nowrap;
}

.tab:hover{
  background-color: rgba(36, 40, 46, 1);
  color: rgba(193, 193, 193, 0.8);
}

.tab.button{
  min-width: 0px;
  width: 24px;
  padding: 0 0;
  text-align: center;
  z-index: -999;
}

.tab.button:hover{
  color: #c1c1c1;
}

.tab.active{
  background-color: #282c34;
  color: #c1c1c1;
  z-index: 999;
  /* font-weight: 400; */
}

.tab.active:hover{
  background-color: #282c34;
  color: rgba(213, 213, 213, 1);
}

.tab.hover{
  background-color: #21252b;
}

.content-area{
  position: absolute;
  top: 24px;
  bottom: 0px;
  width: 100%;
  background-color:#282c34;
  min-width: 128px;
  min-height: 128px;
}

.highlight-frame{
  position: absolute;
  background-color: rgba(0,212,255,0.05);
  border: 1px solid rgba(0,212,255,0.15);
  box-sizing: border-box;
  display: flex;
  z-index: 900;
}

.viewport{
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.drag-event-layer{
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  z-index: 999;
  display: none;
}

.pane{
  position: absolute;
  top: 0px;
  left: 0px;
  min-width: 96px;
  min-height: 96px;
  background-color: #21252b;
  opacity: 0.85;
  box-shadow: 0px 0px 1px 0px rgba(0,0,0,0.7);
  z-index: 999;
}
